@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

* {
  margin: 0;
  font-family: "Overpass", sans-serif;
}

:root {
  --orange: hsl(25, 97%, 53%);

  --white: hsl(0, 0%, 100%);
  --gray-light: hsl(217, 12%, 63%);
  --gray-medium: hsl(216, 12%, 54%);
  --gray-medium-transparent: hsla(216, 12%, 54%, 0.1);
  --blue-dark: hsl(213, 19%, 18%);
  --blue-very-dark: hsl(216, 12%, 8%);
  --blue-very-dark-transparent: hsla(216, 12%, 8%, 0.15);
}

body {
  background-color: var(--blue-very-dark);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container,
.thank-you-card {
  width: 400px;
  height: 400px;
  background: linear-gradient(var(--blue-dark), var(--gray-medium-transparent));
  border-radius: 30px;
}

.container > * {
  margin-left: 40px;
  margin-top: 30px;
}

.star-icon {
  width: 16px;
  padding: 15px;
  background-color: var(--gray-medium-transparent);
  border-radius: 50%;
}

h1,
.thank-you-header {
  color: white;
  font-weight: 700;
  font-size: 1.6rem;
}

p,
.thank-you-paragraph {
  color: var(--gray-light);
  font-size: 15px;
  margin-top: 10px !important;
  line-height: 1.6rem;
}

.ratings-row {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 20px;
}

.ratings-row > .rating {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: none;
  color: var(--gray-medium);
  font-weight: bold;
  background-color: var(--gray-medium-transparent);
  font-size: 1rem;
  transition: color 0.2s, background-color 0.2s;
}

.ratings-row > .rating:hover {
  cursor: pointer;
  color: var(--white);
  background-color: var(--orange);
}

.submit {
  color: var(--white);
  width: 80%;
  height: 45px;
  border-radius: 25px;
  border: none;
  background-color: var(--orange);
  font-size: 1rem;
  letter-spacing: 3px;
}

.submit:hover {
  color: var(--orange);
  background-color: var(--white);
  cursor: pointer;
}

.selected-button {
  color: var(--white) !important;
  background-color: var(--gray-medium) !important;
}

.thank-you-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}

.thank-you-card > * {
  margin-top: 40px;
}

.thank-you-image {
  width: 150px;
}

.thank-you-paragraph {
  width: 80%;
  text-align: center;
}

.thank-you-message {
  font-size: 1.2rem;
  color: var(--orange);
  background-color: var(--gray-medium-transparent);
  padding: 10px 15px 10px 15px;
  border-radius: 25px;
}

.thank-you-header {
  margin-top: 20px;
}
